$back-color: #f7f5f3;

.layout {
  background-color: #fff;
  min-height: 1000px;
  .header {
    background-color: rgb(247, 245, 243);
    position: sticky;
    top: 0;
    padding-top: 28px;
    margin-bottom: 35px;
    z-index: 99;
    padding-bottom: 5px;
    box-shadow: 0px 2px 6px -1px rgba(53, 121, 128, 1);
    justify-content: center;
  }

  .videoOperation {
    display: flex;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    flex-wrap: wrap;

    .navigateButtons {
      box-sizing: border-box;
      flex: 1;
      padding: 25px 60px 25px 60px;
      min-width: 200px;
      & :hover {
        background-color: #e3eaea;
      }
      @media screen and (max-width: 600px) {
        display: flex;
        padding: 0px 10px 0px 10px;
        justify-content: center;
        & > * {
          margin: 5px;
        }
      }
      div {
        cursor: pointer;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #80868b;
      }
    }
    .video {
      flex: 3;
      padding: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
      min-width: 350px;
      .youtubeVideo {
        width: 100%;
        aspect-ratio: 16/9;
        @media screen and (max-width: 600px) {
          height: 220px;
        }
      }
      div {
        margin: auto;
      }
    }

    .otherTopics {
      flex: 1;
      background-color: $back-color;
      margin: 20px;
      padding: 20px;
      border-radius: 20px;

      .topic {
        margin-top: 2px;
        width: 100%;
        padding: 8px;
        text-align: start;
        border-radius: 20px;
        span {
          font-weight: bold;
        }
      }
      & :hover {
        background-color: #e3eaea;
      }
    }
  }

  .newWords {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0px 25px 0px;
    padding-bottom: 60px;
    button {
      .translation {
        position: absolute;
        top: -60px;
        background-color: #fff;
        width: 100%;
        height: 200%;
        border: 1px solid #a07d7d;
      }
      position: relative;
      width: 40%;
      border: 1px solid #e2cece;
      text-align: center;
      align-items: center;
      margin-bottom: 2px;
      padding: 2px 0px;
      @media screen and (max-width: 450px) {
        width: 40%;
      }
    }
    & :hover {
      background-color: #9e9be8;
    }
  }
}

#titleNewWord {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title {
  min-height: 2rem;
  width: 80%;
  margin-left: 15%;
  margin-bottom: 20px;
  font-family: Arial;
  font-weight: bold;
  font-size: 125%;
  justify-content: center;
  text-align: center;
  box-sizing: content-box;
  align-items: center;
  display: flex;
  border: 2px solid #705858;
  box-shadow: 4px 6px 1px -1px rgba(128, 128, 128, 1);
}
