// base
// * { box-sizing: border-box; }
#content {
  height: 100vh;
  min-height: 600px;
  padding: 2rem;
  padding-top: 6rem;
  // background-position: 50% 50%;
  // background-repeat: no-repeat;
  // background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  // overflow-y: auto;
  @media screen and (max-width: 992px) {
    flex-direction: column;
    padding: 8rem 0px;
  }
  & > * {
    flex: 1;
    margin: 20px;
    max-height: 40rem;
  }
  #tocContainer {
    min-width: 22rem;
    //max-height: 60rem;
    background: #faf8fd;
    backdrop-filter: blur(10px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-sizing: border-box;
    a {
      text-decoration: none;
      transition: 0.3s;
    }
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
    }
    .tocTitle {
      font-size: 25px;
      margin: 0 0 1rem;
      display: flex;
      justify-content: space-between;
      .tocToggle a {
        font-size: 0.8rem;
      }
    }
    .tocList {
      a {
        display: flex;
        align-items: flex-start;
        &:hover {
          opacity: 0.6;
        }
      }
      .image {
        margin-left: 10px;
      }
    }
  }
  #tocContainer::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  #practice {
    padding: 1rem;
    padding-top: 2rem;
    min-width: 22rem;
    text-align: center;
    background: #faf8fd;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-height: 300px;
    box-sizing: border-box;
    span {
      font-size: 25px;
      margin: 0 0 20px 20px;
      display: flex;
    }
    div {
      height: 30%;
      margin: 20px;
      border: 1px solid #cfd8dc;
      border-radius: 5px;
      padding: 1rem;
    }
    & > * {
      flex: 1;
    }
  }
}

.practiceItem:hover {
  box-shadow: 0px 0px 9px 1px rgba(48, 98, 97, 0.78);
}

// type03
#content {
  #tocContainer {
    padding: 2rem;
    line-height: 1.8;
    a {
      color: #1a1a1a;
    }
    .tocToggle a {
      padding: 3px 5px;
      font-size: 80%;
      letter-spacing: 1px;
      border: 1px solid #7f7f7f;
      border-radius: 3px;
      &:hover {
        background: #7f7f7f;
        color: #fff;
      }
    }
    .tocList {
      font-size: 0.95rem;
      position: relative;
      &:before {
        content: "";
        width: 1px;
        height: 100%;
        background: #ccc;
        position: absolute;
      }
      li {
        position: relative;
        padding: 0.3rem 0;
        a {
          align-items: center;
          &:before {
            content: "";
            width: 7px;
            height: 7px;
            background: #000;
            border-radius: 100%;
            margin-left: -3px;
            margin-right: 0.5rem;
          }
        }
        .tocNumber {
          color: #000;
          font-size: 2rem;
          line-height: 1;
          margin-right: 0.5rem;
        }
        ul li {
          a {
            padding-left: 2.5rem;
            &:before {
              content: none;
            }
          }
          .tocNumber {
            color: inherit;
            font-size: 100%;
          }
        }
      }
    }
  }
}
