@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* overflow-x: hidden; */
  /* touch-action: none; */
  /* -ms-touch-action: none; */
  display: flex;
  min-height: 100vh;
  overflow-y: scroll;
  height: 100%;
}
body > div {
  height: 100vh;
  width: 100vw;
}
