
.layout {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(247, 245, 243);
  font-size: 2.4vmin;

  .audioOperations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    background-color: white;
    padding: 1vh;
    margin: 10px;
    border-radius: 1vw;

    .operationsWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 50%;
      .operation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 5vh;
        border: 1px solid gray;
        border-radius: 5px;
      }
      :first-child {
        border-right: 1px solid black;
      }
      :last-child {
        border-left: 1px solid black;
      }
      #multiplier {
        width: 25%;
        height: 100%;
      }
      #rollBack {
        width: 8vh;
        height: 100%;
      }
      input {
        padding-left: 5px;
        width: 50%;
        height: 100%;
      }
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30%;
        background-color: rgba(183, 179, 179, 0.083);
      }
    }

    #practice {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 15vw;
      height: 5vh;
      border: 5px solid rgba(255, 166, 0, 0.435);
      border-radius: 1vw; 
      background-color: orange;
      color: white;
    }
    button:active {
      background-color: gainsboro;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: calc(100% - 20px);
    margin: 10px;

    .list {
      padding: 0px;
      height: 80vh;
      width: 25%;
      overflow: auto;
      background-color: white;
      #column {
        display: flex;
        flex-direction: column;
        padding: 5px;
      }  
      .borderBottom {
        border-bottom: 1px solid black;
      }
      .borderBottom:last-child {
        border: 0px;
      }
    }

    .imageDisplay {
      height: 80vh;
      width: 70%;
      background-color: white;
    }
    input {
      height: 5vh;
      width: 10vh;
    }
  }
}

@media screen and (orientation: portrait){
  .layout{
    flex-direction: column;
    width: 100%;
    .wrapper {
      width:  calc(100% - 20px);;
      .imageDisplay {
        height: 60vw;
      }
    }
    .list {
      width:  calc(100% - 20px);;
      height: calc(80vh - 60vw - 5vh)
    }
  }
}

.title {
  display: flex;
  justify-content: space-around;
}