/* Book Styles */
.book {
  background-color: #fff;
  border: 2px solid #e7efc1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 50rem;
  @media screen and (min-width: 768px) {
    max-width: 50rem;
  }
  @media screen and (min-width: 992px) {
    max-width: 62.5rem;
  }
  @media screen and (min-width: 1200px) {
    max-width: 78.2rem;
  }
  .bookCover {
    position: relative;
    background-color: #e7efc1;
    border-right: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    width: 30%;
    .image {
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .curl {
      @media screen and (max-width: 768px) {
        display: none;
      }
      width: 7.5rem;
      height: 7.5rem;
      position: absolute;
      top: -10px;
      left: -3px;
      background: linear-gradient(
        135deg,
        #fff,
        #f3f3f3 45%,
        #ddd 50%,
        #aaa 50%,
        #bbb 56%,
        #ccc 62%,
        #f3f3f3 80%,
        #fff 100%
      );
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition: all 0.5s ease;
    }
    .curl:hover {
      cursor: pointer;
      width: 12.5rem;
      height: 12.5rem;
    }
    .curl:hover:before,
    .curl:hover:after {
      box-shadow: 0 24px 30px rgba(0, 0, 0, 0.3);
    }
  }
  .bookContent {
    padding: 1.25rem;
    width: 70%;
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      justify-content: center;
    }
    h1 {
      font-size: 1.45rem;
      @media screen and (min-width: 992px) {
        font-size: 2rem;
      }
      @media screen and (min-width: 1200px) {
        font-size: 2.25rem;
      }
      margin: 0;
      font-weight: 700;
    }
    img {
      width: 2.0rem;
      height: 2.0rem;
      @media screen and (min-width: 1200px) {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .bookSummary {
      color: #2d2d2d;
      // font-size: 1.125rem;
      font-size: 0.8rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
      text-align: justify;
      text-indent: 1.3rem;
      @media screen and (min-width: 1200px) {
        font-size: 1.125rem;
        text-indent: 1.875rem;
      }
    }
  }
}
