.menu {
  height: 100vh;
  width: 100%;
  transition: all 0.2s ease;
  transform: translateY(100vh);
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .menuCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: transform 1s ease, background 0.3s ease,
      -webkit-transform 1s ease;
    position: relative;
    cursor: pointer;
    p {
      font-size: 3vw;
      font-weight: 700;
      @media screen and (max-width: 768px) {
        font-size: 5vw;
      }
    }
    .close {
      transition: all 0.2s ease-in-out;
      position: absolute;
      width: 4rem;
      top: 2rem;
      left: 2rem;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

.active {
  .menuCard {
    transform: translateY(-100vh);
    &:nth-child(1) {
      background: #e7efc1;
      transition-delay: 0s;
    }
    &:nth-child(2) {
      background: #fff8d5;
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      background: #e1efff;
      transition-delay: 0.4s;
    }
    &:nth-child(4) {
      background: #f0e1ff;
      transition-delay: 0.6s;
    }
  }
}
